<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="../font/bootstrap.min.css"rel="stylesheet">
    <link href="../font/sidebar.scss" rel="stylesheet">
    <p style="text-align:center;"><img src="../mAP.png" ></p>
  </head>
  <body>
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="menu-icon mdi mdi-television"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cluster" routerLinkActive="active">
            <i class="menu-icon fa fa-server" aria-hidden="true"></i>
            <span class="menu-title">Detect lesion</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/storage" routerLinkActive="active">
            <i class="menu-icon fas fa-box"></i>
            <span class="menu-title">User</span>
          </a>
        </li>
      </ul>
    </nav>
    
  </body>
</html>
